.catalog__container  {
     width: 100%;
     display: flex;
     justify-content: center;
     /* align-items: center; */
     flex-direction: column;
     padding: 2% 4%;
     gap: 22px;
}
.catalog__card {
     display: flex;
     align-items: start;
     flex-direction: column;
          background-color: rgba(255, 255, 255, 0.523);
          border-radius: 8px;
          padding: 2%;
}
.catalog__list {
display: flex;
align-items: end;
justify-content: end;
gap: 5px;
}
.catalog__list > a {
     font-size: 27px;
     color: white;
     font-weight:200 ;
}